One of my mentees did something really cool
https://colab.research.google.com/drive/12MTYkd6eZFbJ7tcuUxhNjStnwLdFunpL#scrollTo=6c219485

In [1]:
import pandas as pd
from pathlib import Path

# ===== Defining the data directories ====#
PROJECT_ROOT = Path().absolute().parent.parent
DATA_DIR = PROJECT_ROOT / "datasets" 
COMMON_DATA_DIR = DATA_DIR / "common_data"
INGESTED_DIR = DATA_DIR / "ingested_data"
ingested_csv_file = INGESTED_DIR / "enhanced_dataset.csv"

In [2]:
print(f"üìÅ Project root: {PROJECT_ROOT}")
print(f"üìÅ Data directory: {DATA_DIR}")
print(f"üìÅ Common data directory: {COMMON_DATA_DIR}")
print(f"üìÅ Ingested data directory: {INGESTED_DIR}")

üìÅ Project root: c:\Users\juliu\OneDrive\Desktop\Projects\Soca-Scores
üìÅ Data directory: c:\Users\juliu\OneDrive\Desktop\Projects\Soca-Scores\datasets
üìÅ Common data directory: c:\Users\juliu\OneDrive\Desktop\Projects\Soca-Scores\datasets\common_data
üìÅ Ingested data directory: c:\Users\juliu\OneDrive\Desktop\Projects\Soca-Scores\datasets\ingested_data

In [3]:
import pandas as pd
data = pd.read_csv(ingested_csv_file)
data.head()

C:\Users\juliu\AppData\Local\Temp\ipykernel_5636\3313027951.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(ingested_csv_file)

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,SJA,GBH,GBD,GBA,BSH,BSD,BSA,SBH,SBD,SBA
0,16/08/2024,20:00,Man United,Fulham,1.0,0.0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17/08/2024,12:30,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17/08/2024,15:00,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17/08/2024,15:00,Everton,Brighton,0.0,3.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17/08/2024,15:00,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(6841, 166)

In [5]:
data.columns

Index(['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR',
       ...
       'SJA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA', 'SBH', 'SBD', 'SBA'],
      dtype='object', length=166)

**Initial Deletion of columns - columns that are mostly empty**

In [15]:
print(f"The number of columns are ",data.shape[1], " and the number of the rows are",data.shape[0] )

The number of columns are  166  and the number of the rows are 6841

In [16]:
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percent],axis=1, keys=['Total','Percent'])
missing_data.head(20)

          Total   Percent
1XBD       6470  0.945768
1XBH       6470  0.945768
1XBA       6470  0.945768
BFE<2.5    6464  0.944891
BFE>2.5    6464  0.944891
BFA        6462  0.944599
BFH        6462  0.944599
BFD        6462  0.944599
BFCA       6461  0.944453
BFCH       6461  0.944453
BFEAHA     6461  0.944453
1XBCA      6461  0.944453
1XBCD      6461  0.944453
BFEAHH     6461  0.944453
BFEH       6461  0.944453
BFEC>2.5   6461  0.944453
BFECAHH    6461  0.944453
BFCD       6461  0.944453
BFECH      6461  0.944453
BFECD      6461  0.944453

In [18]:
new_data = data.drop(missing_data[missing_data['Percent'] > 0.10].index, axis=1)
new_data.isnull().sum()
new_data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,WHD,WHA,season_id,competition_name,IWH,IWD,IWA,VCH,VCD,VCA
0,16/08/2024,Man United,Fulham,1.0,0.0,H,0.0,0.0,D,R Jones,...,4.2,5.00,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
1,17/08/2024,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,D,T Robinson,...,5.5,1.33,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
2,17/08/2024,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,H,J Gillett,...,7.0,17.00,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
3,17/08/2024,Everton,Brighton,0.0,3.0,A,0.0,1.0,A,S Hooper,...,3.5,2.70,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
4,17/08/2024,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,H,C Pawson,...,5.5,8.00,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
new_data.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA',
       'WHH', 'WHD', 'WHA', 'season_id', 'competition_name', 'IWH', 'IWD',
       'IWA', 'VCH', 'VCD', 'VCA'],
      dtype='object')

In [20]:
print(f"The number of columns are ",new_data.shape[1], " and the number of the rows are",new_data.shape[0] )

The number of columns are  39  and the number of the rows are 6841

In [21]:
total = new_data.isnull().sum().sort_values(ascending=False)
percent = (new_data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
total_rows = new_data.shape[0]


missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

          Total   Percent
IWH       565.0  0.082590
IWD       565.0  0.082590
IWA       565.0  0.082590
VCH       381.0  0.055694
VCD       381.0  0.055694
VCA       381.0  0.055694
WHA       199.0  0.029089
WHH       199.0  0.029089
WHD       199.0  0.029089
BWD       145.0  0.021196
BWH       145.0  0.021196
BWA       145.0  0.021196
AwayTeam    1.0  0.000146
Date        1.0  0.000146
HomeTeam    1.0  0.000146
HTHG        1.0  0.000146
FTR         1.0  0.000146
FTAG        1.0  0.000146
FTHG        1.0  0.000146
HTAG        1.0  0.000146

In [22]:
print(f"The number of columns are ",new_data.shape[1], " and the number of the rows are",new_data.shape[0] )

The number of columns are  39  and the number of the rows are 6841

In [23]:
new_data.head(5)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,WHD,WHA,season_id,competition_name,IWH,IWD,IWA,VCH,VCD,VCA
0,16/08/2024,Man United,Fulham,1.0,0.0,H,0.0,0.0,D,R Jones,...,4.2,5.00,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
1,17/08/2024,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,D,T Robinson,...,5.5,1.33,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
2,17/08/2024,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,H,J Gillett,...,7.0,17.00,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
3,17/08/2024,Everton,Brighton,0.0,3.0,A,0.0,1.0,A,S Hooper,...,3.5,2.70,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN
4,17/08/2024,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,H,C Pawson,...,5.5,8.00,2024-2025,EPL,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
print(new_data.sample(10))

            Date        HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
4069    03/03/15            Hull   Sunderland   1.0   1.0   D   1.0   0.0   H
1985  19/10/2019       Tottenham      Watford   1.0   1.0   D   0.0   1.0   A
3487  26/09/2015        West Ham      Norwich   2.0   2.0   D   1.0   1.0   D
4951    20/08/11     Aston Villa    Blackburn   3.0   1.0   H   2.0   0.0   H
5225    20/03/12       Blackburn   Sunderland   2.0   0.0   H   0.0   0.0   D
49    22/09/2024        Man City      Arsenal   2.0   2.0   D   1.0   2.0   A
2731  14/10/2017  Crystal Palace      Chelsea   2.0   1.0   H   2.0   1.0   H
3435  15/08/2015         Watford    West Brom   0.0   0.0   D   0.0   0.0   D
781   20/08/2022  Crystal Palace  Aston Villa   3.0   1.0   H   1.0   1.0   D
5400    18/10/10       Blackburn   Sunderland   0.0   0.0   D   0.0   0.0   D

         Referee  ...   WHD   WHA  season_id  competition_name   IWH  IWD  \
4069      M Dean  ...  3.10  3.80  2014-2015               EPL  2.20  3.1
1985  C Kavanagh  ...  4.80  8.00  2019-2020               EPL  1.45  4.5
3487      M Dean  ...  3.20  3.20  2015-2016               EPL  2.10  3.3
4951   S Attwell  ...  3.20  5.50  2011-2012               EPL  1.70  3.5
5225  M Atkinson  ...  3.30  2.90  2011-2012               EPL  2.40  3.2
49      M Oliver  ...  3.50  4.50  2024-2025               EPL   NaN  NaN
2731  A Marriner  ...  4.80  1.36  2017-2018               EPL  7.50  4.8
3435   P Tierney  ...  3.20  3.20  2015-2016               EPL  2.40  3.2
781     A Madley  ...  3.20  2.90  2022-2023               EPL  2.50  3.2
5400   L Probert  ...  3.25  3.40  2010-2011               EPL  2.10  3.2

       IWA   VCH   VCD   VCA
4069  3.30  2.20  3.20  3.90
1985  7.00  1.40  5.00  8.00
3487  3.30  2.25  3.50  3.40
4951  4.40  1.73  3.60  5.50
5225  2.70  2.38  3.40  3.12
49     NaN   NaN   NaN   NaN
2731  1.40  8.50  4.60  1.44
3435  2.85  2.30  3.30  3.50
781   2.95  2.45  3.13  2.90
5400  3.20  2.10  3.30  3.75

[10 rows x 39 columns]

In [13]:
#Standardize column names: lowercase, snake_case, strip spaces

#Borrowed from - Phoebe


#cohort3_DS_clean = cohort3_DS.copy()
#cohort3_DS_clean.columns = (
   # cohort3_DS_clean.columns
  #  .str.strip()
  #  .str.lower()
   # .str.replace(" ", "_")
    #.str.replace("?", "", regex=False)
#)
#cohort3_DS_clean.head()